.tabs{
  position: relative;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      flex: 0 1 80px;
      line-height: 36px;
      text-align: center;
      a {
        color: #2c3e50;
        transition: all .4s ease;
      }
      &.active {
        a {
          color: #68c3a3;
        }
      }
    }
  }
  .tabs-slider {
    position: absolute;
    height: 1px;
    bottom: 0;
    background-color: #68c3a3;
    width: 80px;
    left: 50%;
    transition: all .4s ease;
    transform: scaleX(.7);
  }
}